# Copy this file to `.env` and fill in the appropriate values for local development.
# Example:
# NEXT_PUBLIC_API_URL=https://api.example.com
# NEXT_PUBLIC_STREAM_URL_SUP=https://rivestream.org/embed
# NEXT_PUBLIC_SITE_URL=https://aniora.micorp.pro

